.counter {
  font-weight: bold;
}

.counter-green {
  composes: counter;
}

.container {
  composes: text-uppercase text-primary from 'bootstrap-css/lib/type';
  margin: 1em auto;
  opacity: 1;
}

body {
  background-color: white;
}