.counter {
  font-weight: bold;
}

.counter-green {
  composes: counter;
}

.countercontainer {
  composes: text-uppercase text-primary from 'bootstrap-css/lib/type';
  margin: 1em auto;
  opacity: 0.2;
}